
app-translation-box {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
